@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
}
header.cabecera{
  background-color: black;
  color: white;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
header.cabecera > nav {
  text-align: center;
  overflow: hidden;
  transition: all .5s ease-in-out;
  height: 0rem;
}
header.cabecera > nav.active {
  height: 15rem;
}
header.cabecera > h1{
  font-size: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
div.buttonMenu{
  position: relative;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
div.buttonMenu > svg{
  position: absolute;
  width: 3rem;
  height: 3rem;
  transition: all .2s ease-in-out;
}
div.buttonMenu > svg:nth-child(1){
  transform: scale(1);
  opacity: 1;
}
div.buttonMenu > svg:nth-child(2){
  transform: scale(0);
  opacity: 0;
}
div.buttonMenu.active > svg:nth-child(1){
  transform: scale(0);
  opacity: 0;
}
div.buttonMenu.active > svg:nth-child(2){
  transform: scale(1);
  opacity: 1;
}
header.cabecera > nav > ul {
  list-style: none;
}
header.cabecera > nav > ul > li {
  padding: 1rem;
  cursor: pointer;
}
header.cabecera > nav > ul > li > a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}
header.cabecera > nav > ul > li > a.active{
  border-radius: 3px;
  border-bottom: 1px solid white;
  background-color: #0000ff4f;
  box-shadow: 0px 0px 10px 1px #0000ff6e;
}
header.cabecera > nav > ul > li:hover > a {
  text-shadow: 0px 0px 10px white;
  transition: all .3s ease-in-out;
}
header.cabecera > nav > .search{
  margin: 1rem;
}
.search > form > input, .search > form > button{
  font-size: 1.5rem;
}
.search > form > input{
  border-radius: 5px 0 0 5px;
  padding: 0 .5rem 0 .5rem;
}
.search > form > input:focus-visible{
  outline:none
}
.search > form > button{
  color: white;
  background-color: blue;
  padding: 0 1rem;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.search > form > button:hover{
  background-color: green;
}
main > h2 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
}
main > .content > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  gap: 4rem;
}
main > .content > ul > li {
  cursor: pointer;
  border-radius: .5rem;
  box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 50%);
  overflow: hidden;
  position: relative;
  transition: all .2s ease-in-out;
  min-width: 225px;
  min-height: 354px;
}
main > .content > ul > li > picture > img {
  height: 100%;
  border-radius: .5rem;
  transition: all .2s ease-in-out;
}
main > .content > ul > li:hover > picture > img {
  transform: scale(1.05);
}
main > .content > ul > li > h3, main > .content > ul > li > p {
  position: absolute;
}
main > .content > ul > li > h3{
  bottom: 0;
  color: white;
  background-color: #0000008c;
  width: 100%;
  padding: 0.5rem;
  letter-spacing: 2px;
  transition: all .2s ease-in-out;
}
main > .content > ul > li:hover > h3{
  background-color: #000000;
}
main > .content > ul > li > p{
  top: 0.5rem;
  background-color: blue;
  color: white;
  left: 0.5rem;
  padding: 0 0.5rem;
  border-radius: 1rem;
}
.pagination{
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
/* .pagination > ul{
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
} */
/* .pagination > ul > li{
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  border-radius: 5px;
  border: 1px solid grey;
  box-shadow: 0 0 3px 1px grey;
  transition: all .2s ease-in-out;
} */
/* .pagination > ul > li:hover{
  box-shadow: 0 0 8px 1px grey;
  font-weight: bold;
} */
.pagination > form > input[type=number]::-webkit-inner-spin-button,
.pagination > form > input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.pagination > form > input[type=number] {
  -moz-appearance:textfield;
  text-align: center;
  border: 1px solid grey;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 4rem;
}
.pagination > button {
  cursor: pointer;
  background-color: white;
  padding: 0 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 1px rgb(128 128 128 / 50%);
  transition: all .2s ease-in-out;
}
.pagination > button:hover {
  box-shadow: 0 0 8px 1px rgb(0 0 0 / 50%);
  background-color: blue;
  color: white;
  /* font-weight: bold; */
}

@media (min-width:768px) {
  main{
    max-width: 1440px;
    margin: 1rem;
  }
  header.cabecera{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  header.cabecera > h1, nav, nav > ul > li, .search, .search > form {
    display: inline;
  }
  nav > ul{
    display: inline-flex;
  }
  header.cabecera > h1 > .buttonMenu{
    display: none;
  }
  header.cabecera > nav{
    height: auto;
  }
  header.cabecera > nav > .search{
    margin-left: 3rem;
  }
}